*{
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  margin-top: 80px;
}
.slide{
  width: 80vw;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.img-box {
  width: 100%;
  height: 100%;
}

.img-box img{
  transition: all 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 80vw;
}

.img-box img:first-child {
  left:0;
}

.button-box {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
}

.button {
  position: relative;
  width: 100%;
}

.button .left {
  position: absolute;
  top: 0;
  left: 10px;
}

.button .right {
  position: absolute;
  top: 0;
  right: 10px;
}

.button span {
  font-size: 40px;
}

.yaer{
  width: 80vw;
  margin: 0 auto;
}

.contents{
  width: 100%;
}

.project_card{
  width: 100%;
  margin-bottom: 30px;
  float: left;
}



.year-btn {
  width: 100%;
  height: 70px;
  position: relative;
}

.year-btn a {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.year-text {
  border: 0;
  background-color: inherit;
  font-size: 30px;
  font-weight: bold;
  margin-left: 35px;
}

.year-btn span {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  text-shadow: 0px 1px 0.7px 2px;
}

.project_box{
  float: left;
  margin: 15px;
  width: 300px;
  height: 271.62px;
  box-shadow: 4px 5px 7px 0px rgba(149, 157, 160, 0.6);
}

.project_box .img_box{
  width: 260.27px;
  height: 155.68px;
  background-color: #F7FBFD;
  margin: 0 auto;
  padding: 10px;
}

.project_box .img_box img{
  width: 260.27px;
  height: 146.76px;
}

.bottom-menu {
  position: fixed;
  left: 0;
  top: 0;
   width: 100%;
   height: 100%;
   z-index: 800;
   background-color: rgba(0,0,0,0.6);
   display: none;
   transition: all 0.8;
}
.bottom-menu ul {
  position: fixed;
  right: 10px;
  bottom: 80px;
  width: 150px;
  height: 140px;
  z-index: 999;
  border: 0;
  border-radius:15px;
  background-color: white;
  box-shadow: 2px 4px 7px 0px rgba(0, 0,0,0.42);
}

#menu-bar li:first-child {
  margin-top: 10px;
}

#menu-bar li {
  width: 100%;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  margin-left: 10px;
  position: relative;
}

#menu-bar li a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

#menu-bar li input {
  width: 90%;
  height: 20px;
  margin: 0 auto;
}
.bottom-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 999;
}

.bottom-button>span {
  font-size: 40px;
  color: white;
  border: 0;
  border-radius: 30px;
  background-color: #0075E8;
  box-shadow: 2px 4px 7px 0px rgba(0, 0,0,0.42),2px 3px 10px 0px rgba(167, 207, 246,1) inset, -3px -1px 5px 0px rgba(53, 77, 101, 0.42) inset;
}

