*{
    margin: 0;
    padding: 0;
}

input {
    padding: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
.header a{
    text-decoration: none;
    float: left;
}
ul{
    list-style: none;
    z-index: 1000;
    position: relative;
    border: 0.5px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 130px;
}
li:hover{
    color: red;
}
.btn-box:hover{
    background-color: rgba(160, 160, 160, 0.318);
    border-radius: 5px;
}
.header{
    width: 100%;
    height: 90px;
    background-color: #f7fbfd;
    box-shadow: 0px 1px 10px 2px rgb(179, 178, 178);
    text-align: left;
}

.header span {
    line-height: 90px;
    float: left;
    margin-left: 150px;
}
.header a h3{
    float: left;
    line-height: 90px;
    margin-left: 10px;
}


.work{
    width: 70vw;
    height: 100%;
    margin: 0 auto;
}

.work>h1{
    margin-top: 40px;
    margin-bottom: 30px;
    color: #006AA8;
}

.authorbox>h1{
    margin-top: 40px;
    margin-bottom: 30px;
    color: #006AA8;
}

h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.title-box{
    width: 100%;
    position: relative;
}

.title-box label{
    font-size: large;
    position: absolute;
    top: 0;
    margin-top: 7px;
    margin-left: 10px;
}

.title-box input{
    height: 40px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 40px;
}

.work-explain{
    position: relative;
    width: 100%;
}

.work-explain textarea {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
}

.filebox {
    width: 500px;
    position: relative;
}
.productiondate{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.button-box{
    width: 100;
    height: 50px;
    float: left;
}
.btn-box{
    float: left;
    position: relative;
}
.btn-box button{
    float: left;
    width: 130px;
    height: 40px;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid black;
}
.btn-box ul{
    width: 100%;
    height: 300px;
    overflow: scroll;
    display: none;
    position: absolute;
    top: 40px;
    z-index: 10;
}

.btn-box ul li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    border: 0.5px solid black;
    border-radius: 3px;
}
.authorbox>h3{
    font-size: 20px;

}

.tag{   
    position: relative;
    width: 100%;
}

.tag label{
    position: absolute;
    top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.tag input{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
}

.nameid{
    position: relative;
    width: 100%;
    height: 100%;
}
.nameid input#name-id{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}
.authorbox{
    position: relative;
    
}
.nameid .email{
    position: relative;
    width: 100%;
    float: left;
}
.nameid>label{
    position: absolute;
    top: 15px;
    left: 10px;
}
.nameid .email label{
    position: absolute;
    left: 10px;
    top: 15px;
}
.nameid .email #email{
    width: 30%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    float: left;

}
.nameid .email > p{
    width: 35px;
    height: 35px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 7px;
    float: left;
    text-align: center;
    padding: 8px 5px 2px 5px;
}
.btn-addr {
    width: 150px;
    height: 40px;
    float: left;
    position: relative;
}
.nameid .email .btn-addr button{
    width: 100%;
    height: 47px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: inherit;
    font-size: medium;
    padding: 5px;
}
.nameid .email .btn-addr button:hover{
    background-color: rgba(153, 153, 153, 0.668);
}

.btn-addr ul {
    width: 100%;
    height: 100pxpx;
    display: none;
    overflow: scroll;
    text-align: center;
}

.btn-addr ul li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    border-radius: 5px;
    border: 0.5px solid black;
    font-size: medium;
}

.btn-addr ul li:hover {
    background-color: #006AA8;
    color: white;
}

.git{
    width: 100%;
    float: left;
    position: relative;
}
.git>#git{
    position: absolute;
    margin-top: 23px;
    margin-left: 10px;
}
.git>#github{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
}
.complete>button{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
    border-radius: 5px;
    background-color: #006AA8;
    color: white;
    font-size: medium;
    border-radius: none;
    border: none;
    float: right;
}
.complete>button:hover{
    background-color: rgba(0, 60, 94, 0.915);
    size: 100px;
}
.complete>button:active{
    background-color: rgba(52, 128, 172, 0.915);
    size: 100px;
}