*{
    margin: 0;
    padding: 0;
}
 a{
    text-decoration: none;
    color: inherit;
 }

/* body{
    margin: 0 auto;
} */

.yaer{
    width: 80vw;
    margin: 0 auto;
}

header{
    width: 80vw;
    height: 100px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

header .icon {
    float: left;
    position: absolute;
    top: 10px;
    left: 30px;
    margin: 0 auto;
}

header h1{
    float: left;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateY(-50%);
}

header .search-box{
    float: left;
    position: absolute;
    top: 30px;
    right: 30px;
}

.search-box .search{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.search input {
    width: 100%;
    height: 30px;
    padding: 3px;
    border-radius: 20px;
    box-shadow: 1px 0.699999988079071px 1px 0px rgba(149, 157, 160, 0.42),inset 5px 4px 7px 0px rgba(149, 157, 160, 0.42);
}

.search span{
    position: absolute;
    top : 10px;
    right: 10px;
}

.contents{
    width: 100%;
}

.project_card{
    width: 100%;
    margin-bottom: 30px;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    grid-template-rows: 300px;
}

.project_card a{
    width: 100%;
    height: 100%;
}

.project_box{
    float: left;
    width: 100%;
    height: 100%;
    box-shadow: 4px 5px 7px 0px rgba(149, 157, 160, 0.6);
    /* border: 1px solid black; */
    border-radius: 5px;

}

.project_box .img_box{
    width: 100%;
    height: 60%;
    background-color: #F7FBFD;
}

.project_box .img_box img{
    width: 100%;
    height: 90%;
}