*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #F7FBFD;
  box-shadow: 3px 4px 13px rgba(149, 157, 160, 0.42);
}

.head {
  width: 100%;
  height: 100%;
  font-size: 18.2px;A
  margin-left: 10px;
}

.head span{
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
}

.container{
  width: 65vw;
  text-align: center;
  margin: 0 auto;
}

.center {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-75%)
}

.center h1{
  font-size: 28px;
  color: #006AA8;
  margin-bottom: 20px;
}

.center p{
  font-size:17.5px;
  color: rgba(0, 0, 0, 0.72);
  margin-bottom: 35px;
}

.login {
  width: 20vw;
  margin: 0 auto;
  text-align: left;
}

.id {
  width: 100%;
}

.id label {
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
}

.id input {
  width: 100%;
  height: 45px;
  border: 1px solid black;
  border-radius: 7px;
}

.pass{
  width: 100%;
  height: 100px;
}

.pass label{
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
}

.pass input{
  width: 100%;
  height: 45px;
  border: 1px solid black;
  border-radius: 7px;
}

button{
  margin-top: 15px;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: #0075E8;
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 17.5px;
  font-weight:bold;
}