*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #F7FBFD;
  box-shadow: 3px 4px 7px rgba(149, 157, 160, 0.27);
}

header {
  width: 100%;
  height: 100%;
  font-size: 18.2px;
}

header span{
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.13);
  margin-left: 33px;
}

header span a{
  text-decoration: none;
  color: black;
  margin-left: 7px;
}

.container{
  width: 65vw;
  text-align: center;
  margin: 0 auto;
}

.center {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-75%)
}

.center h1{
  font-size: 28px;
  color: #006AA8;
  margin-bottom: 15px;
}

.center p{
  font-size:17.5px;
  color: rgba(0, 0, 0, 0.72);
  margin-bottom: 45px;
}

.login {
  width: 20vw;
  margin: 0 auto;
  text-align: left;
}

.id {
  width: 100%;
  margin-bottom: 20px;
}

.id label {
  width: 100%;
  font-size: 19px;
  margin-bottom: 100px;
}

.id input {
  margin-top: 2px;
  width: 100%;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.72);
  border-radius: 7px;
}

.pass{
  width: 100%;
  height: 100px;
}

.pass label{
  width: 100%;
  font-size: 19px;
}

.pass input{
  margin-top: 2px;
  width: 100%;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.72);
  border-radius: 7px;
}

button{
  margin-top: 27px;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: #0075E8;
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 17.5px;
  font-weight:bold;
}
